$corPrimaria: rgb(255, 255, 255);
$corSecundaria: rgb(0, 0, 0);
$corFormsUser: rgba(31, 31, 31, 0.35);
$corBordasFormsUser: rgb(255, 255, 255);
$btnsCancel: red;
$btnsConfirm: green;
$bolinhaStatusBom: rgb(0, 255, 0);
$bolinhaStatusRuim: red;