@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
#video {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

#entre {
  display: none;
  text-transform: uppercase;
  font-size: xx-large;
  font-weight: bold;
  padding-top: 200px;
  position: relative;
  text-align: center;
  text-shadow: 0px 0px 4px rgb(255, 255, 255);
}

#entre a {
  color: rgb(255, 255, 255);
}

#containerCard {
  display: grid;
  justify-content: center;
  grid-template-areas: "cardsProdu cardsProdu cardsProdu cardsProdu ";
  gap: 20px;
  margin: 20px 0px;
}

.cardsProdu {
  width: 280px;
  padding: 10px;
  color: rgb(255, 255, 255);
  background-color: transparent;
}

.divImgsProdu {
  width: 280px;
}

.imgsProdu {
  width: 280px;
  height: 280px;
}

.containerInfosInit {
  text-align: center;
}

@media (max-width: 1115px) {
  #containerCard {
    grid-template-areas: "cardsProdu cardsProdu ";
  }
}
@media (max-width: 664px) {
  svg {
    width: 25px;
    height: 25px;
  }
  #containerCard {
    grid-template-areas: "cardsProdu cardsProdu";
    gap: 10px;
  }
  .cardsProdu {
    width: 150px;
    padding: 0px;
  }
  .divImgsProdu {
    width: 150px;
  }
  .imgsProdu {
    width: 150px;
    height: 150px;
  }
  .containerInfosInit {
    font-size: 0.9em;
    text-align: center;
  }
}
#boxFormsUser {
  margin: 20vh auto 40vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  width: 250px;
  padding: 10px;
  border: 1px solid rgb(109, 109, 109);
  border-radius: 5px;
  background: rgba(71, 71, 71, 0.35);
  backdrop-filter: blur(13.5px);
  color: rgb(255, 255, 255);
}

.titleForms {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
}

.inputs {
  border-radius: 5px;
  border: none;
  padding: 5px;
}

#btnsForms {
  font-size: 1em;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  outline: 0;
  transition: 0.5s;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgb(255, 255, 255);
  padding: 5px;
  text-transform: uppercase;
  width: 100%;
  font-weight: bold;
}
#btnsForms:hover {
  background-color: transparent;
  color: rgb(255, 255, 255);
}

#possuiContaDiv {
  font-size: 0.9em;
  text-align: center;
}
#possuiContaDiv a {
  color: rgb(255, 255, 255);
}

#caixaAnuncio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 1000px;
  margin: auto;
}

#fotosAnuncio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#infoAnuncio {
  width: 500px;
}

.btnDireEsquer {
  display: flex;
  align-items: center;
  border: 1px solid white;
  background-color: transparent;
  width: 30px;
  height: 30px;
}

.imgsAnuncio {
  width: 450px;
  height: 450px;
}

.titleAnun {
  font-size: 1.6em;
}

.riscoQuebra {
  margin: 2% 0%;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
}

#divSize {
  margin: 1% 0%;
}

.sizeBtn {
  font-size: 1em;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  outline: 0;
  transition: 0.5s;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 10px;
  border: 1px solid rgb(255, 255, 255);
  text-transform: uppercase;
}
.sizeBtn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

#divBoxDescri {
  text-align: center;
  padding: 5px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
}

#description {
  display: none;
  margin: 1% 0%;
}

#btnSaco {
  margin: 10px 0px;
  width: 100%;
  font-size: 1em;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  outline: 0;
  transition: 0.5s;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgb(255, 255, 255);
}
#btnSaco:hover {
  background-color: transparent;
  color: rgb(255, 255, 255);
}

.titleSaco {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1115px) {
  #caixaAnuncio {
    flex-wrap: wrap;
    width: 700px;
  }
}
@media screen and (max-width: 720px) {
  #caixaAnuncio {
    width: 500px;
  }
}
@media screen and (max-width: 560px) {
  #caixaAnuncio {
    width: 300px;
    gap: 30px;
  }
  #fotosAnuncio {
    width: 300px;
  }
  .imgsAnuncio {
    width: 250px;
    height: 250px;
  }
  .btnDireEsquer {
    width: 23px;
    height: 23px;
  }
  .titleAnun {
    font-size: 1.3em;
  }
  #description {
    font-size: 1em;
  }
}
#sectionCar {
  margin: 20px 280px;
}

#divGridInfosCar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#divProdCar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.titleCars {
  font-size: 1.5em;
}

.cardsCar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(109, 109, 109);
  border-radius: 5px;
  background: rgba(71, 71, 71, 0.35);
  backdrop-filter: blur(13.5px);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
}

.infosProductCar {
  display: flex;
  align-items: center;
}

.imgsCar {
  width: 100px;
  margin-right: 10px;
  border-radius: 5px;
}

.nomeProductCar {
  font-size: 1.3em;
}

#divFinalizaCompra {
  border: 1px solid rgb(109, 109, 109);
  border-radius: 5px;
  background: rgba(71, 71, 71, 0.35);
  backdrop-filter: blur(13.5px);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
}

#divInfosFinaisPreco {
  display: flex;
  justify-content: space-between;
}

#btnContinuar {
  width: 100%;
  font-size: 1em;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  outline: 0;
  transition: 0.5s;
  font-family: Arial, Helvetica, sans-serif;
}
#btnContinuar:hover {
  background-color: rgb(0, 0, 0);
}

#btnCancelarCompra {
  font-size: 1em;
  background-color: red;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  outline: 0;
  transition: 0.5s;
  font-family: Arial, Helvetica, sans-serif;
}
#btnCancelarCompra:hover {
  background-color: rgb(255, 100, 100);
}

.holdInfosImgs {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
}

.divBtnsCar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btnExcluCar {
  font-size: 1em;
  background-color: red;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  outline: 0;
  transition: 0.5s;
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px;
}
.btnExcluCar:hover {
  background-color: rgb(253, 64, 64);
}

.qtdMaisMenosCar {
  display: flex;
  align-items: center;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
}

.qtdValueCar {
  margin: 0px 5px;
}

.btnsQtdsCar {
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 5px 5px;
}

#divHoldBtnsFim {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

#divVejaMais {
  margin: 20px 0px;
}

.titleMaisProdutos {
  font-size: 1.4em;
}

@media screen and (max-width: 1300px) {
  #sectionCar {
    margin: 20px 200px;
  }
}
@media screen and (max-width: 1117px) {
  #sectionCar {
    margin: 20px 150px;
  }
}
@media screen and (max-width: 1117px) {
  #sectionCar {
    margin: 20px 80px;
  }
}
@media screen and (max-width: 601px) {
  #sectionCar {
    margin: 20px 60px;
  }
  .titleCars {
    font-size: 1em;
  }
  .nomeProductCar {
    font-size: 1em;
  }
  .divBtnsCar {
    display: flex;
    flex-direction: column;
  }
  .imgsCar {
    width: 70px;
  }
  .titleMaisProdutos {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  #sectionCar {
    margin: 20px 20px;
  }
  .titleCars {
    font-size: 0.9em;
  }
  .nomeProductCar {
    font-size: 0.9em;
  }
  .precoCar {
    font-size: 0.9em;
  }
  .btnExcluCar {
    font-size: 0.9em;
    padding: 4px;
  }
  .btnExcluCar:hover {
    background-color: rgb(253, 64, 64);
  }
  .qtdValueCar {
    margin: 0px 3px;
  }
  .btnsQtdsCar {
    padding: 3px 3px;
  }
}
#infosFinaisEndereco {
  background: rgba(71, 71, 71, 0.35);
  backdrop-filter: blur(13.5px);
  box-shadow: 0px 0px 10px 0.5px rgb(109, 109, 109);
  border-radius: 5px;
  padding: 20px 20px 5px;
  margin-bottom: 25px;
}

.holdInfosEnd {
  display: flex;
  gap: 10px;
}

#infosEnd {
  margin: 10px;
}

#enderecoCompleto {
  display: flex;
  gap: 3px;
}

#divTitleEdit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#newEnde {
  font-size: 1em;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  outline: 0;
  transition: 0.5s;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgb(255, 255, 255);
  width: 100%;
  margin-bottom: 10px;
}
#newEnde:hover {
  background-color: transparent;
  color: rgb(255, 255, 255);
}

#divProductsFinais {
  background: rgba(71, 71, 71, 0.35);
  backdrop-filter: blur(13.5px);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 0.5px rgb(109, 109, 109);
  border-radius: 5px;
  padding: 20px 20px 5px;
  margin: 20px 0px;
}

#divProdCar {
  margin: 10px 0px;
}

#precoTotalFim {
  color: rgb(255, 255, 255);
}

#divInformacoesFinais {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
}

#btnFim {
  font-size: 1em;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  outline: 0;
  transition: 0.5s;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  border: 1px solid rgb(255, 255, 255);
}
#btnFim:hover {
  background-color: transparent;
  color: rgb(255, 255, 255);
}

#aEdit {
  color: rgb(255, 255, 255);
}

#divInfoEndereco {
  box-shadow: 0px 0px 10px 2px rgb(109, 109, 109);
  background: rgba(71, 71, 71, 0.35);
  backdrop-filter: blur(13.5px);
  border-radius: 5px;
  padding: 20px 20px 5px;
}

.titleEndereco {
  font-size: 1.5em;
}

#formCadasterEndereco {
  margin: 20px 0px;
}

.holdInputsInfos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.inputsEndereco {
  margin: 5px 0px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid rgb(255, 255, 255);
  font-size: 1em;
  padding: 3px;
}

.numberInput {
  width: 80px;
  border-radius: 5px;
  border: 2px solid rgb(255, 255, 255);
  font-size: 1em;
  padding: 3px;
}

#sectionPerfil {
  display: grid;
  justify-content: center;
  margin: 20px;
}

#boxInfosPerfil {
  width: 300px;
  margin: auto;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

#infos {
  display: flex;
  align-items: center;
  gap: 10px;
}

#imgPerfil {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: rgb(0, 0, 0);
}

#emailPerfil {
  font-size: 0.9em;
}

#btnEditPerfil {
  font-size: 1em;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  outline: 0;
  transition: 0.5s;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  font-weight: bold;
}
#btnEditPerfil:hover {
  background-color: rgb(109, 109, 109);
}

#divFerramentas {
  margin: 20px 0px;
  display: grid;
  grid-template-areas: "cardsFerramentas cardsFerramentas cardsFerramentas";
  gap: 10px;
}

.cardsFerramentas {
  width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
.cardsFerramentas a {
  color: rgb(255, 255, 255);
  margin-top: 5px;
  background-color: rgb(13, 13, 13);
}

.divSvg {
  display: flex;
  justify-content: center;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  background: rgb(31, 31, 31);
  background: radial-gradient(circle, rgb(31, 31, 31) 0%, rgb(0, 0, 0) 100%);
  /*background-image: url('../imgs/f4.jpg');
  background-repeat: no-repeat;
  background-size: cover;*/
  color: rgb(255, 255, 255);
}

main {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 10px;
}

/*HEADER*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 3vw;
}

#logo {
  width: 140px;
}

nav {
  display: none;
}

.navMenu {
  display: flex;
  flex-direction: column;
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 300px;
  background-color: rgb(0, 0, 0);
}
.navMenu li {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}
.navMenu li a {
  text-transform: uppercase;
  font-size: 1.4em;
  margin: 2px 0px;
  color: rgb(255, 255, 255);
}

#searchAndCar {
  display: flex;
  align-items: center;
}

#divRemoveMenu {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

#removeMenu {
  width: 30px;
  height: 30px;
}

.btnsMenu {
  border: none;
  cursor: pointer;
  outline: 0;
  background-color: transparent;
}

section {
  margin: 5% 0%;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: rgb(0, 0, 0);
}

@media screen and (max-width: 670px) {
  #logo {
    width: 100px;
  }
  .navMenu {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
