#formProduto {
    background-color: $corSecundaria;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 8px;
    padding: 8px;
    border-radius: 8px;
}

#divHoldSelect {
    display: flex;
    flex-direction: column;
}

#newClass {
    color: $corSecundaria;
}

#divHoldClassifi {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cardsClassificacoes {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: $corPrimaria;
    padding: 5px;
    border-radius: 5px;
}