.cardsClass {
    background-color: $corCards;
    width: 270px;
    color: $corPrimaria;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    border-radius: 5px;
}

.inputClass {
    width: 120px;
    border: none;
    border-radius: 3px;
    padding: 3px;
}

.btnsExcluClass {
    @include buttons(1em, $btnsCancel, $corSecundaria);
    padding: 5px;
    border: none;
    &:hover{
        background-color: rgb(255, 63, 63);
    }   
}

.btnsEditClass {
    @include buttons(1em, $btnsConfirm, $corSecundaria);
    padding: 5px;
    border: none;
    &:hover{
        background-color: rgb(0, 175, 0);
    } 
}