#infosFinaisEndereco {
    background: $corFormsUser;
    backdrop-filter: blur( 13.5px );
    box-shadow: 0px 0px 10px 0.5px $corBordasFormsUser;
    border-radius: 5px;
    padding: 20px 20px 5px;
    margin-bottom: 25px;
}

.holdInfosEnd {
    display: flex;
    gap: 10px;
}

#infosEnd {
    margin: 10px;
}

#enderecoCompleto {
    display: flex;
    gap: 3px;
}

#divTitleEdit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#newEnde {
    @include buttons(1em, $corPrimaria, $corSecundaria);
    border: 1px solid $corPrimaria;
    width: 100%;
    margin-bottom: 10px;
    &:hover {
        background-color: transparent;
        color: $corPrimaria;
    }
}

#divProductsFinais {    
    background: $corFormsUser;
    backdrop-filter: blur( 13.5px );
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0.5px $corBordasFormsUser;
    border-radius: 5px;
    padding: 20px 20px 5px;
    margin: 20px 0px;
}

#divProdCar {
    margin: 10px 0px;
}

#precoTotalFim {
    color: $corPrimaria;
}

#divInformacoesFinais {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    font-size: 1.2em;
}

#btnFim {
    @include buttons(1em, $corPrimaria, $corSecundaria);
    padding: 5px;
    border: 1px solid $corPrimaria;
    &:hover {
        background-color: transparent;
        color: $corPrimaria;
    }
}

#aEdit {
    color: $corPrimaria;
}