
#form {
    width: 350px;
    padding:  10px ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $corSecundaria;
    gap:10px ;
}


#sectionForms {
    display: flex;
    justify-content: center;
    margin: 10%;
}

.inputs {
    border-radius: 5px;
    padding: 5px;
    border: none;
}

.inputFile {
    background-color: $corPrimaria;
    color: $corSecundaria;
}

.inputFile::file-selector-button {
    background-color: $corSecundaria;
    color: $corPrimaria;
    border: none;
    border-radius: 5px;
    padding: 3px;
}

textarea {
    resize: none;
    height: 160px
}

#btnsForms {
    @include buttons(1.2em, $corPrimaria, $corSecundaria);
    padding: 3px;
    
}

#titleForms {
    font-size: 1.6em;
    color: $corPrimaria;
    text-align: center;
}

#divEsqueceBtnEntre {
    display: flex;
    flex-direction: column;
    text-align: center;
    a {
        color: $corSecundaria;
    }
}

.btnsCria {
    @include buttons(1.2em, $corPrimaria, $corSecundaria);
    padding: 3px;
}