#containerCard {
    display: grid;
    justify-content: center;
    grid-template-areas: 'cardsProdu cardsProdu cardsProdu cardsProdu ';
    gap: 20px;
    margin: 20px 0px;
}

.cardsProdu {
    width: 280px;
    padding: 10px;
    color: $corPrimaria;
    background-color: transparent;
}

.divImgsProdu {
    width: 280px;
}

.imgsProdu {
    width: 280px;
    height: 280px;
}

.containerInfosInit {
    text-align: center;
}
